@mixin border-box-stuff{
	-webkit-box-sizing:inherit;
	box-sizing: inherit;
}

@mixin content1-row-col{
	@content;
	flex-grow: 1;
	flex-shrink: 0;
}
@mixin content2-row-col{
	@content;
	flex-grow: 1;
	flex-shrink: 0;
}
@mixin footer-row-col{
	flex-basis: 50%;
}